.primary {
    background-color: #74A57F;
}

.btn-primary {
    background-color: #3498db !important;
    color: black !important;
}

.btn-secondary {
    background-color: #a5a1a2 !important;
    color: black !important;
}

.nav-link {
    color: black !important;
}

.container-fluid {
    background: url(You.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

body {
    overflow-y: hidden;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    background-color: #ebebeb;
}

.alert-success {
    width: 300px;
}
